# Step 1: Data Alignment and Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as stat

In [21]:
company_tweet = pd.read_csv('data/Company_Tweet.csv')
#tweet = pd.read_csv('Tweet.csv')
#company = pd.read_csv('Company.csv')
company_value = pd.read_csv('data/CompanyValues.csv')

In [5]:
company.head()

  ticker_symbol company_name
0          AAPL        apple
1          GOOG   Google Inc
2         GOOGL   Google Inc
3          AMZN   Amazon.com
4          TSLA    Tesla Inc

"GOOG and GOOGL are stock ticker symbols for Alphabet (the company formerly known as Google). ... The company created two classes of shares in April 2014.

In [22]:
company_tweet.head()

             tweet_id ticker_symbol
0  550803612197457920          AAPL
1  550803610825928706          AAPL
2  550803225113157632          AAPL
3  550802957370159104          AAPL
4  550802855129382912          AAPL

In [23]:
company_tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4336445 entries, 0 to 4336444
Data columns (total 2 columns):
 #   Column         Dtype
---  ------         -----
 0   tweet_id       int64
 1   ticker_symbol  object
dtypes: int64(1), object(1)
memory usage: 66.2+ MB

In [24]:
company_tweet['ticker_symbol'].unique()

array(['AAPL', 'GOOG', 'GOOGL', 'AMZN', 'MSFT', 'TSLA'], dtype=object)

In [25]:
# Replace all occurrences of 'GOOGL' with 'GOOG' in the 'ticker_symbol' column
company_tweet['ticker_symbol'] = company_tweet['ticker_symbol'].replace('GOOGL', 'GOOG')

In [27]:
company_tweet['ticker_symbol'].unique()

array(['AAPL', 'GOOG', 'AMZN', 'MSFT', 'TSLA'], dtype=object)

In [28]:
company_tweet.to_csv('data/updated_company_tweet.csv', index=False)

In [9]:
tweet.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [14]:
tweet['post_date'] = pd.to_datetime(tweet['post_date'], unit='s')

In [21]:
tweet['day_date'] = pd.to_datetime(tweet['post_date'].apply(lambda date: date.date()))

In [22]:
tweet.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,day_date
0,550441509175443456,VisualStockRSRC,2015-01-01 00:00:57,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,2015-01-01
1,550441672312512512,KeralaGuy77,2015-01-01 00:01:36,Insanity of today weirdo massive selling. $aap...,0,0,0,2015-01-01
2,550441732014223360,DozenStocks,2015-01-01 00:01:50,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,2015-01-01
3,550442977802207232,ShowDreamCar,2015-01-01 00:06:47,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,2015-01-01
4,550443807834402816,i_Know_First,2015-01-01 00:10:05,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,2015-01-01

In [23]:
tweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717964 entries, 0 to 3717963
Data columns (total 8 columns):
 #   Column       Dtype
---  ------       -----
 0   tweet_id     int64
 1   writer       object
 2   post_date    datetime64[ns]
 3   body         object
 4   comment_num  int64
 5   retweet_num  int64
 6   like_num     int64
 7   day_date     datetime64[ns]
dtypes: datetime64[ns](2), int64(4), object(2)
memory usage: 226.9+ MB

In [10]:
company_value.head()

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,2020-05-29,317.94,38399530,319.25,321.15,316.47
1,AAPL,2020-05-28,318.25,33449100,316.77,323.44,315.63
2,AAPL,2020-05-27,318.11,28236270,316.14,318.71,313.09
3,AAPL,2020-05-26,316.73,31380450,323.50,324.24,316.50
4,AAPL,2020-05-22,318.89,20450750,315.77,319.23,315.35

In [97]:
company_value['day_date'] = pd.to_datetime(company_value['day_date'])

In [29]:
company_value['ticker_symbol'].unique()

array(['AAPL', 'AMZN', 'GOOGL', 'GOOG', 'MSFT', 'TSLA'], dtype=object)

In [30]:
# Replace all occurrences of 'GOOGL' with 'GOOG' in the 'ticker_symbol' column
company_value['ticker_symbol'] = company_value['ticker_symbol'].replace('GOOGL', 'GOOG')

In [31]:
company_value['ticker_symbol'].unique()

array(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'TSLA'], dtype=object)

In [32]:
company_value.to_csv('data/updated_company_value.csv', index=False)

In [101]:
print(company_value['day_date'].min(),'\n',company_value['day_date'].max())

2010-06-01 00:00:00
 2020-05-29 00:00:00

In [19]:
company_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17528 entries, 0 to 17527
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ticker_symbol  17528 non-null  object
 1   day_date       17528 non-null  datetime64[ns]
 2   close_value    17528 non-null  float64
 3   volume         17528 non-null  int64
 4   open_value     17528 non-null  float64
 5   high_value     17528 non-null  float64
 6   low_value      17528 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 958.7+ KB

In [33]:
company_value['ticker_symbol'].value_counts()

ticker_symbol
GOOG    5208
AAPL    3085
AMZN    3085
MSFT    3085
TSLA    3065
Name: count, dtype: int64

# Assigning sentiments to tweets

In [25]:
tweet_df = tweet.loc[:,['tweet_id','body','day_date']]

In [ ]:
tweet_df.to_csv('assign_sentiment.csv')

# Concatenate bert

In [9]:
from pyspark.sql import SparkSession

# Step 1: Initialize Spark Session
spark = SparkSession.builder \
    .appName("Read and Combine CSV Files") \
    .getOrCreate()

# Read CSV files directly into PySpark DataFrames
df1 = spark.read.csv('bert_sentiment_subset1.csv', header=True, inferSchema=True)
df2 = spark.read.csv('bert_sentiment_subset2.csv', header=True, inferSchema=True)
df3 = spark.read.csv('bert_sentiment_subset3.csv', header=True, inferSchema=True)


combined_df = df1.union(df2).union(df3)

In [10]:
combined_df.show()

+------------------+--------------------+----------+--------------------+---------+------------------+
|          tweet_id|                body|  day_date|        cleaned_body|sentiment|   sentiment_score|
+------------------+--------------------+----------+--------------------+---------+------------------+
|550441509175443456|lx21 made $10,008...|2015-01-01|lx21 made 10008  ...| NEGATIVE| 0.987220823764801|
|550441672312512512|Insanity of today...|2015-01-01|insanity of today...| NEGATIVE|0.9980893731117249|
|550441732014223360|S&P100 #Stocks Pe...|2015-01-01|sp100  performanc...| NEGATIVE|0.9954293966293335|
|550442977802207232|$GM $TSLA: Volksw...|2015-01-01|gm tsla volkswage...| POSITIVE|0.9334741830825806|
|550443807834402816|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550443808606126081|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550443809700851716|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550443857142611968|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550443857595600896|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550443857692078081|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550443858010861568|Swing Trading: Up...|2015-01-01|swing trading up ...| NEGATIVE| 0.940014660358429|
|550444112328261632|$UNP $ORCL $QCOM ...|2015-01-01|unp orcl qcom msf...| POSITIVE|0.9840987324714661|
|550444969924653056|$AAPL Apple goes ...|2015-01-01|aapl apple goes g...| POSITIVE|0.9849073886871338|
|550444970738335744|“@WSJ: Apple is b...|2015-01-01|apple is being su...| NEGATIVE|0.9989198446273804|
|550445066444369921|Apple filed for i...|2015-01-01|apple filed for i...| NEGATIVE| 0.978590190410614|
|550445850170642432|@CNBC 15 Top #tra...|2015-01-01|15 top  for   tif...| NEGATIVE|0.9680405855178833|
|550447574285418497|We searched throu...|2015-01-01|we searched throu...| POSITIVE|0.9986793398857117|
|550447850857828352|Top 10 searched #...|2015-01-01|top 10 searched  ...| NEGATIVE|0.9775350093841553|
|550447998577426433|2014 The Year in ...|2015-01-01|2014 the year in ...| NEGATIVE|0.9912053942680359|
|550448085789200384|Give your brain a...|2015-01-01|give your brain a...| POSITIVE|0.9993288516998291|
+------------------+--------------------+----------+--------------------+---------+------------------+
only showing top 20 rows

In [11]:
combined_df.printSchema()

root
 |-- tweet_id: long (nullable = true)
 |-- body: string (nullable = true)
 |-- day_date: string (nullable = true)
 |-- cleaned_body: string (nullable = true)
 |-- sentiment: string (nullable = true)
 |-- sentiment_score: string (nullable = true)

In [13]:
from pyspark.sql.functions import col, min, max

combined_df = combined_df.withColumn("day_date", col("day_date").cast("date"))

In [15]:
date_range = combined_df.select(min("day_date").alias("min_date"), max("day_date").alias("max_date")).collect()

# Extract the min and max dates
min_date = date_range[0]["min_date"]
max_date = date_range[0]["max_date"]

print(f"Date range in the combined DataFrame is from {min_date} to {max_date}.")

Date range in the combined DataFrame is from 1199-01-01 to 2024-01-01.

In [19]:
# Define the date range for filtering
start_date = '2015-01-01'
end_date = '2024-01-01'

# Filter DataFrame by the date range
filtered_df = combined_df.filter((col('day_date') >= start_date) & (col('day_date') <= end_date))

In [35]:
# join ticker_symbol with sentiment dataframe

spark_company_tweet = spark.createDataFrame(company_tweet)

# Join the DataFrames on 'tweet_id'
joined_df = combined_df.join(spark_company_tweet, on='tweet_id', how='inner')

In [42]:
print(joined_df.count())
print(spark_company_tweet.count())

24/09/02 22:21:47 WARN TaskSetManager: Stage 55 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/02 22:21:55 WARN TaskSetManager: Stage 63 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.

4336445
4336445

In [41]:
print(combined_df.count())
print(combined_df.select("tweet_id").distinct().count())

3717964

3717964

In [43]:
joined_df.show()

24/09/02 22:22:24 WARN TaskSetManager: Stage 67 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.

+------------------+--------------------+----------+--------------------+---------+------------------+-------------+
|          tweet_id|                body|  day_date|        cleaned_body|sentiment|   sentiment_score|ticker_symbol|
+------------------+--------------------+----------+--------------------+---------+------------------+-------------+
|550447574285418497|We searched throu...|2015-01-01|we searched throu...| POSITIVE|0.9986793398857117|         AAPL|
|550450683309072384|Clay Trader Apple...|2015-01-01|clay trader apple...| NEGATIVE|0.9947957396507263|         AAPL|
|550455355134578688|http://StockAviat...|2015-01-01|penny stocks nyse...| NEGATIVE|0.9938942790031433|         MSFT|
|550460180631011328|$AMZN OI for matu...|2015-01-01|amzn oi for matur...| NEGATIVE|0.5678575038909912|         AMZN|
|550461555423584257|Prediction: $TWTR...|2015-01-01|prediction twtr g...| NEGATIVE|0.9428709745407104|         GOOG|
|550461555423584257|Prediction: $TWTR...|2015-01-01|prediction twtr g...| NEGATIVE|0.9428709745407104|         GOOG|
|550471631034806273|World’s 400 Riche...|2015-01-01|worlds 400 riches...| POSITIVE|0.9916071891784668|         AMZN|
|550471634742542336|World’s 400 Riche...|2015-01-01|worlds 400 riches...| POSITIVE|0.9916071891784668|         AMZN|
|550489113468866561|The week's winner...|2015-01-01|the weeks winners...| NEGATIVE| 0.958871066570282|         AAPL|
|550500144794578946|"""@WSJ: Jeff Bez...|2015-01-01|jeff bezos lost 7...| NEGATIVE|0.9996873140335083|         AMZN|
|550502942407929857|Yes to the first ...|2015-01-01|yes to the first ...| NEGATIVE|0.9949236512184143|         AAPL|
|550503223485009920|If you had a fant...|2015-01-01|if you had a fant...| POSITIVE|0.9943032264709473|         AAPL|
|550505446134386689|Stock of the Year...|2015-01-01|stock of the year...| NEGATIVE|0.9892280101776123|         AAPL|
|550514037155704832|@skupor @business...|2015-01-01|hmm maybe peer se...| NEGATIVE|0.9993983507156372|         AAPL|
|550515119432937472|Jeff Bezos lost $...|2015-01-01|jeff bezos lost 7...| NEGATIVE|0.9997345805168152|         AMZN|
|550521659044552706|"Commented on: ""...|2015-01-01|commented on 2015...| POSITIVE| 0.759372889995575|         AAPL|
|550530027012382721|Apple: Asian Carr...|2015-01-01|apple asian carri...| NEGATIVE|0.9946234226226807|         AAPL|
|550530027012382721|Apple: Asian Carr...|2015-01-01|apple asian carri...| NEGATIVE|0.9946234226226807|         GOOG|
|550541197421588480|$GOOGL - Music Do...|2015-01-01|googl  music down...| POSITIVE|0.5618365406990051|         GOOG|
|550541216262402048|$GOOG - Music Dow...|2015-01-01|goog  music downl...| POSITIVE|0.6054012775421143|         GOOG|
+------------------+--------------------+----------+--------------------+---------+------------------+-------------+
only showing top 20 rows

## calculating a single sentiment score for a company for a day

## BERT

In [51]:
# Select distinct values in the 'sentiment' column
unique_sentiments = joined_df.select('sentiment').distinct().count()

# Show the unique sentiment values
unique_sentiments

24/09/03 01:42:50 WARN TaskSetManager: Stage 106 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/03 01:42:52 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:42:52 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:42:52 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:42:52 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

32875

In [54]:
# Count the number of positive sentiments
positive_count = joined_df.filter(col('sentiment') == 'POSITIVE').count()

# Count the number of negative sentiments
negative_count = joined_df.filter(col('sentiment') == 'NEGATIVE').count()

# Display the counts
print(f"Number of Positive Sentiments: {positive_count}")
print(f"Number of Negative Sentiments: {negative_count}")

24/09/03 01:46:29 WARN TaskSetManager: Stage 135 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/03 01:46:31 WARN TaskSetManager: Stage 144 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.

Number of Positive Sentiments: 769264
Number of Negative Sentiments: 3520530

In [56]:
joined_df.count()

24/09/03 01:48:01 WARN TaskSetManager: Stage 156 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.

4336445

In [58]:
joined_df = joined_df.filter((col('sentiment') == 'POSITIVE') | (col('sentiment') == 'NEGATIVE'))

In [59]:
joined_df.count()

24/09/03 01:50:00 WARN TaskSetManager: Stage 165 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.

4289794

In [45]:
joined_df.printSchema()

root
 |-- tweet_id: long (nullable = true)
 |-- body: string (nullable = true)
 |-- day_date: date (nullable = true)
 |-- cleaned_body: string (nullable = true)
 |-- sentiment: string (nullable = true)
 |-- sentiment_score: string (nullable = true)
 |-- ticker_symbol: string (nullable = true)

In [60]:
joined_df = joined_df.withColumn("sentiment_score", col("sentiment_score").cast("float"))

In [61]:
joined_df.printSchema()

root
 |-- tweet_id: long (nullable = true)
 |-- body: string (nullable = true)
 |-- day_date: date (nullable = true)
 |-- cleaned_body: string (nullable = true)
 |-- sentiment: string (nullable = true)
 |-- sentiment_score: float (nullable = true)
 |-- ticker_symbol: string (nullable = true)

In [62]:
joined_df.show()

24/09/03 01:52:18 WARN TaskSetManager: Stage 174 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.

+------------------+--------------------+----------+--------------------+---------+---------------+-------------+
|          tweet_id|                body|  day_date|        cleaned_body|sentiment|sentiment_score|ticker_symbol|
+------------------+--------------------+----------+--------------------+---------+---------------+-------------+
|550447574285418497|We searched throu...|2015-01-01|we searched throu...| POSITIVE|     0.99867934|         AAPL|
|550450683309072384|Clay Trader Apple...|2015-01-01|clay trader apple...| NEGATIVE|     0.99479574|         AAPL|
|550455355134578688|http://StockAviat...|2015-01-01|penny stocks nyse...| NEGATIVE|      0.9938943|         MSFT|
|550460180631011328|$AMZN OI for matu...|2015-01-01|amzn oi for matur...| NEGATIVE|      0.5678575|         AMZN|
|550461555423584257|Prediction: $TWTR...|2015-01-01|prediction twtr g...| NEGATIVE|       0.942871|         GOOG|
|550461555423584257|Prediction: $TWTR...|2015-01-01|prediction twtr g...| NEGATIVE|       0.942871|         GOOG|
|550471631034806273|World’s 400 Riche...|2015-01-01|worlds 400 riches...| POSITIVE|      0.9916072|         AMZN|
|550471634742542336|World’s 400 Riche...|2015-01-01|worlds 400 riches...| POSITIVE|      0.9916072|         AMZN|
|550489113468866561|The week's winner...|2015-01-01|the weeks winners...| NEGATIVE|     0.95887107|         AAPL|
|550500144794578946|"""@WSJ: Jeff Bez...|2015-01-01|jeff bezos lost 7...| NEGATIVE|      0.9996873|         AMZN|
|550502942407929857|Yes to the first ...|2015-01-01|yes to the first ...| NEGATIVE|     0.99492365|         AAPL|
|550503223485009920|If you had a fant...|2015-01-01|if you had a fant...| POSITIVE|      0.9943032|         AAPL|
|550505446134386689|Stock of the Year...|2015-01-01|stock of the year...| NEGATIVE|       0.989228|         AAPL|
|550514037155704832|@skupor @business...|2015-01-01|hmm maybe peer se...| NEGATIVE|     0.99939835|         AAPL|
|550515119432937472|Jeff Bezos lost $...|2015-01-01|jeff bezos lost 7...| NEGATIVE|      0.9997346|         AMZN|
|550521659044552706|"Commented on: ""...|2015-01-01|commented on 2015...| POSITIVE|      0.7593729|         AAPL|
|550530027012382721|Apple: Asian Carr...|2015-01-01|apple asian carri...| NEGATIVE|      0.9946234|         AAPL|
|550530027012382721|Apple: Asian Carr...|2015-01-01|apple asian carri...| NEGATIVE|      0.9946234|         GOOG|
|550541197421588480|$GOOGL - Music Do...|2015-01-01|googl  music down...| POSITIVE|     0.56183654|         GOOG|
|550541216262402048|$GOOG - Music Dow...|2015-01-01|goog  music downl...| POSITIVE|      0.6054013|         GOOG|
+------------------+--------------------+----------+--------------------+---------+---------------+-------------+
only showing top 20 rows

In [65]:
from pyspark.sql.functions import col, when, avg

# Create a new column 'adjusted_sentiment_score' that assigns negative scores for negative sentiments
joined_df = joined_df.withColumn(
    'adjusted_sentiment_score',
    when(col('sentiment') == 'POSITIVE', col('sentiment_score'))
    .otherwise(-col('sentiment_score'))
)

# Step 3: Calculate the average sentiment score for each day and each company
average_daily_sentiment = joined_df.groupBy('day_date', 'ticker_symbol') \
    .agg(avg('adjusted_sentiment_score').alias('daily_sentiment_score'))

# Step 4: Create a new DataFrame with only the required columns
new_df = average_daily_sentiment.select('day_date', 'ticker_symbol', 'daily_sentiment_score')

In [67]:
# Count the number of rows with positive sentiment scores
positive_count = new_df.filter(col('daily_sentiment_score') > 0).count()

# Count the number of rows with negative sentiment scores
negative_count = new_df.filter(col('daily_sentiment_score') < 0).count()

# Display the counts
print(f"Number of rows with Positive Sentiment Score: {positive_count}")
print(f"Number of rows with Negative Sentiment Score: {negative_count}")

24/09/03 01:57:56 WARN TaskSetManager: Stage 188 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:57:58 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:04 WARN TaskSetManager: Stage 202 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:09 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:09 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 01:58:09 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

Number of rows with Positive Sentiment Score: 3
Number of rows with Negative Sentiment Score: 9120

In [75]:
new_df.write.csv('average_daily_sentiment_bert.csv', header=True)

24/09/03 02:25:18 WARN TaskSetManager: Stage 216 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:25:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

In [93]:
new_df.count()

24/09/03 02:40:07 WARN TaskSetManager: Stage 234 contains a task of very large size (7430 KiB). The maximum recommended task size is 1000 KiB.
24/09/03 02:40:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:40:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:40:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:40:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/09/03 02:40:10 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

9123

## VADER

In [68]:
v = pd.read_csv('vader_sentiment_score.csv')

In [69]:
v.head()

,tweet_id,body,day_date,cleaned_body,sentiment_score
0,550441509175443456,"lx21 made $10,008 on $AAPL -Check it out! htt...",2015-01-01,lx21 made 10008 on AAPL Check it out Learn ...,0.0000
1,550441672312512512,Insanity of today weirdo massive selling. $aap...,2015-01-01,Insanity of today weirdo massive selling aapl ...,-0.8271
2,550441732014223360,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,2015-01-01,SP100 Performance HD LOW SBUX TGT DVN IBM AMZ...,-0.4278
3,550442977802207232,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,2015-01-01,GM TSLA Volkswagen Pushes 2014 Record Recall T...,0.0000
4,550443807834402816,Swing Trading: Up To 8.91% Return In 14 Days h...,2015-01-01,Swing Trading Up To 891 Return In 14 Days ...,0.0000

In [78]:
v['day_date']=pd.to_datetime(v['day_date'])

In [79]:
v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717964 entries, 0 to 3717963
Data columns (total 5 columns):
 #   Column           Dtype
---  ------           -----
 0   tweet_id         int64
 1   body             object
 2   day_date         datetime64[ns]
 3   cleaned_body     object
 4   sentiment_score  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 141.8+ MB

In [82]:
merged_df = pd.merge(v, company_tweet[['tweet_id', 'ticker_symbol']], on='tweet_id', how='inner')

In [86]:
avg_sentiment = merged_df.groupby(['day_date', 'ticker_symbol'])['sentiment_score'].mean().reset_index()

avg_sentiment.rename(columns={'sentiment_score': 'avg_sentiment_score'}, inplace=True)

In [91]:
avg_sentiment[avg_sentiment['avg_sentiment_score']<0].count()

day_date               82
ticker_symbol          82
avg_sentiment_score    82
dtype: int64

In [96]:
avg_sentiment.to_csv('average_daily_sentiment_vader.csv')

In [116]:
avg_sentiment['day_date'].max()

Timestamp('2019-12-31 00:00:00')

# stock data performance categ

In [102]:
company_value.head()

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value
0,AAPL,2020-05-29,317.94,38399530,319.25,321.15,316.47
1,AAPL,2020-05-28,318.25,33449100,316.77,323.44,315.63
2,AAPL,2020-05-27,318.11,28236270,316.14,318.71,313.09
3,AAPL,2020-05-26,316.73,31380450,323.50,324.24,316.50
4,AAPL,2020-05-22,318.89,20450750,315.77,319.23,315.35

In [103]:
company_value.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17528 entries, 0 to 17527
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ticker_symbol  17528 non-null  object
 1   day_date       17528 non-null  datetime64[ns]
 2   close_value    17528 non-null  float64
 3   volume         17528 non-null  int64
 4   open_value     17528 non-null  float64
 5   high_value     17528 non-null  float64
 6   low_value      17528 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 958.7+ KB

In [104]:
# Sort the DataFrame by 'ticker_symbol' and 'day_date' to ensure correct order
stock_df = company_value.sort_values(by=['ticker_symbol', 'day_date'])

# Calculate the previous day's close value within each ticker symbol group
stock_df['previous_close'] = stock_df.groupby('ticker_symbol')['close_value'].shift(1)

# Determine if the stock showed growth or decline
# Handle cases where 'previous_close' is NaN (such as the first day for each ticker symbol)
stock_df['stock_performance'] = stock_df.apply(
    lambda row: 'growth' if pd.notna(row['previous_close']) and row['close_value'] > row['previous_close'] else 
                ('decline' if pd.notna(row['previous_close']) and row['close_value'] < row['previous_close'] else 'no_change'), axis=1)

In [107]:
stock_df.reset_index(drop=True, inplace=True)

In [108]:
stock_df.head()

,ticker_symbol,day_date,close_value,volume,open_value,high_value,low_value,previous_close,stock_performance
0,AAPL,2010-06-01,37.2614,218455576,37.0986,37.9914,36.9943,NaN,no_change
1,AAPL,2010-06-02,37.7071,171594061,37.7914,37.8286,37.1907,37.2614,growth
2,AAPL,2010-06-03,37.5886,162341809,37.8828,37.9357,37.2014,37.7071,decline
3,AAPL,2010-06-04,36.5664,189045767,36.8871,37.4143,36.3757,37.5886,decline
4,AAPL,2010-06-07,35.8486,221253336,36.8986,37.0214,35.7928,36.5664,decline

In [112]:
print(stock_df[stock_df['stock_performance']== 'decline'].shape[0])
print(stock_df[stock_df['stock_performance']== 'growth'].shape[0])
print(stock_df[stock_df['stock_performance']== 'no_change'].shape[0])

7460
7751
2317

In [117]:
# Filter out 'no_change' rows
filtered_df = stock_df[stock_df['stock_performance'] != 'no_change']

# Filter rows based on the date range (2015 to 2020)
filtered_df = filtered_df[(filtered_df['day_date'] >= '2015-01-01') & (filtered_df['day_date'] <= '2020-12-31')]

In [119]:
filtered_df.reset_index(drop=True, inplace=True)

In [120]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284 entries, 0 to 9283
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker_symbol      9284 non-null   object
 1   day_date           9284 non-null   datetime64[ns]
 2   close_value        9284 non-null   float64
 3   volume             9284 non-null   int64
 4   open_value         9284 non-null   float64
 5   high_value         9284 non-null   float64
 6   low_value          9284 non-null   float64
 7   previous_close     9284 non-null   float64
 8   stock_performance  9284 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 652.9+ KB

In [121]:
filtered_df['stock_performance'].unique()

array(['decline', 'growth'], dtype=object)

In [122]:
filtered_df = filtered_df[['ticker_symbol', 'day_date', 'stock_performance']]

In [123]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284 entries, 0 to 9283
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker_symbol      9284 non-null   object
 1   day_date           9284 non-null   datetime64[ns]
 2   stock_performance  9284 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 217.7+ KB

In [124]:
filtered_df.to_csv('filtered_stock_performance.csv', index=False)

# join sentiment score with stock performance

In [127]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284 entries, 0 to 9283
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ticker_symbol      9284 non-null   object
 1   day_date           9284 non-null   datetime64[ns]
 2   stock_performance  9284 non-null   object
dtypes: datetime64[ns](1), object(2)
memory usage: 217.7+ KB

In [126]:
avg_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9123 entries, 0 to 9122
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   day_date             9123 non-null   datetime64[ns]
 1   ticker_symbol        9123 non-null   object
 2   avg_sentiment_score  9123 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 213.9+ KB

In [132]:
avg_sentiment['day_date'] = pd.to_datetime(avg_sentiment['day_date'])

# Sort the DataFrame by 'day_date' in ascending order
avg_sentiment_vader = avg_sentiment.sort_values(by='day_date', ascending=True)

In [135]:
avg_sentiment_vader.reset_index(drop=True, inplace=True)

In [130]:
avg_sentiment_bert = pd.read_csv('average_daily_sentiment_bert.csv')

In [131]:
avg_sentiment_bert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9123 entries, 0 to 9122
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   day_date               9123 non-null   object
 1   ticker_symbol          9123 non-null   object
 2   daily_sentiment_score  9123 non-null   float64
dtypes: float64(1), object(2)
memory usage: 213.9+ KB

In [133]:
avg_sentiment_bert['day_date'] = pd.to_datetime(avg_sentiment_bert['day_date'])

# Sort the DataFrame by 'day_date' in ascending order
avg_sentiment_bert = avg_sentiment_bert.sort_values(by='day_date', ascending=True)

In [136]:
avg_sentiment_bert.reset_index(drop=True, inplace=True)

In [137]:
avg_sentiment_bert.head()

    day_date ticker_symbol  daily_sentiment_score
0 2015-01-01          GOOG              -0.509290
1 2015-01-01          AAPL              -0.551329
2 2015-01-01          MSFT              -0.758167
3 2015-01-01          TSLA              -0.425761
4 2015-01-01          AMZN              -0.829177

## VADER

In [138]:
# Convert 'day_date' column to datetime format (if not already done)
filtered_df['day_date'] = pd.to_datetime(filtered_df['day_date'])
avg_sentiment_vader['day_date'] = pd.to_datetime(avg_sentiment_vader['day_date'])

# Sort both DataFrames by 'ticker_symbol' and 'day_date'
filtered_df = filtered_df.sort_values(by=['ticker_symbol', 'day_date'])
avg_sentiment_vader = avg_sentiment_vader.sort_values(by=['ticker_symbol', 'day_date'])

# Shift the sentiment scores by 1 day within each ticker symbol
avg_sentiment_vader['prev_avg_sentiment_score'] = avg_sentiment_vader.groupby('ticker_symbol')['avg_sentiment_score'].shift(1)

# Merge the shifted sentiment DataFrame with the stock performance DataFrame
merged_df = pd.merge(filtered_df, avg_sentiment_vader[['day_date', 'ticker_symbol', 'prev_avg_sentiment_score']], 
                     on=['day_date', 'ticker_symbol'], how='left')

/var/folders/sf/twdrtcxd31b6rkjt8r5mdxr40000gn/T/ipykernel_95751/2421016282.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['day_date'] = pd.to_datetime(filtered_df['day_date'])

In [139]:
merged_df.head()

  ticker_symbol   day_date stock_performance  prev_avg_sentiment_score
0          AAPL 2015-01-02           decline                  0.134369
1          AAPL 2015-01-05           decline                  0.206588
2          AAPL 2015-01-06            growth                  0.128866
3          AAPL 2015-01-07            growth                  0.148750
4          AAPL 2015-01-08            growth                  0.145871

In [140]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284 entries, 0 to 9283
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ticker_symbol             9284 non-null   object
 1   day_date                  9284 non-null   datetime64[ns]
 2   stock_performance         9284 non-null   object
 3   prev_avg_sentiment_score  8662 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 290.3+ KB

In [141]:
cleaned_df = merged_df.dropna()

In [143]:
cleaned_df.reset_index(drop=True, inplace=True)

In [144]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8662 entries, 0 to 8661
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ticker_symbol             8662 non-null   object
 1   day_date                  8662 non-null   datetime64[ns]
 2   stock_performance         8662 non-null   object
 3   prev_avg_sentiment_score  8662 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 270.8+ KB

In [146]:
avg_sentiment_by_performance = cleaned_df.groupby('stock_performance')['prev_avg_sentiment_score'].mean().reset_index()
avg_sentiment_by_performance

  stock_performance  prev_avg_sentiment_score
0           decline                  0.133136
1            growth                  0.132264

In [149]:
cleaned_df.to_csv('final_vader.csv', index=False)

## BERT

In [150]:
# Convert 'day_date' column to datetime format (if not already done)
#filtered_df['day_date'] = pd.to_datetime(filtered_df['day_date'])
avg_sentiment_bert['day_date'] = pd.to_datetime(avg_sentiment_bert['day_date'])

# Sort both DataFrames by 'ticker_symbol' and 'day_date'
#filtered_df = filtered_df.sort_values(by=['ticker_symbol', 'day_date'])
avg_sentiment_bert = avg_sentiment_bert.sort_values(by=['ticker_symbol', 'day_date'])

# Shift the sentiment scores by 1 day within each ticker symbol
avg_sentiment_bert['prev_avg_sentiment_score'] = avg_sentiment_bert.groupby('ticker_symbol')['daily_sentiment_score'].shift(1)

# Merge the shifted sentiment DataFrame with the stock performance DataFrame
merged_df = pd.merge(filtered_df, avg_sentiment_bert[['day_date', 'ticker_symbol', 'prev_avg_sentiment_score']], 
                     on=['day_date', 'ticker_symbol'], how='left')

In [151]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9284 entries, 0 to 9283
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ticker_symbol             9284 non-null   object
 1   day_date                  9284 non-null   datetime64[ns]
 2   stock_performance         9284 non-null   object
 3   prev_avg_sentiment_score  8662 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 290.3+ KB

In [152]:
merged_df.head()

  ticker_symbol   day_date stock_performance  prev_avg_sentiment_score
0          AAPL 2015-01-02           decline                 -0.551329
1          AAPL 2015-01-05           decline                 -0.580293
2          AAPL 2015-01-06            growth                 -0.565583
3          AAPL 2015-01-07            growth                 -0.541593
4          AAPL 2015-01-08            growth                 -0.609153

In [153]:
cleaned_df = merged_df.dropna()

In [154]:
cleaned_df.reset_index(drop=True, inplace=True)

In [155]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8662 entries, 0 to 8661
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ticker_symbol             8662 non-null   object
 1   day_date                  8662 non-null   datetime64[ns]
 2   stock_performance         8662 non-null   object
 3   prev_avg_sentiment_score  8662 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 270.8+ KB

In [156]:
avg_sentiment_by_performance = cleaned_df.groupby('stock_performance')['prev_avg_sentiment_score'].mean().reset_index()
avg_sentiment_by_performance

  stock_performance  prev_avg_sentiment_score
0           decline                 -0.692048
1            growth                 -0.679526

In [157]:
cleaned_df.to_csv('final_bert.csv', index=False)

In [158]:
cleaned_df.groupby('ticker_symbol').count()

               day_date  stock_performance  prev_avg_sentiment_score
ticker_symbol
AAPL               1253               1253                      1253
AMZN               1257               1257                      1257
GOOG               3650               3650                      3650
MSFT               1245               1245                      1245
TSLA               1257               1257                      1257

In [159]:
cleaned_df.groupby('stock_performance').count()

                   ticker_symbol  day_date  prev_avg_sentiment_score
stock_performance
decline                     4308      4308                      4308
growth                      4354      4354                      4354